*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
composeApp/src/commonTest/kotlin/cn/edu/ysu/ciallo/ysu/YsuEhallApiCredentials.kt
composeApp/ysu_cookies.json

# Prevent data leaks
memory-bank/